body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Comfortaa', 'Century Gothic', Arial;
}

/*import flower from “../image/ppflorist-vert-3624.jpg”;
<img src={flower}  alt=” Florist”/>*/



.navImg{
border-radius: 50%;
border: 1px solid #ddd;
width: 200px;
height:200px;
}

.navStyle{
padding-top: 50px;
padding-bottom: 50px;
background-color: rgb(207, 205, 205);
}

.InfoContainer{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.profileStyle{
  border: 2px solid rgb(244, 240, 240);
  height:200px ;
  width: 200px;
}

.mainheader{
background-color:  gray;
height: 200px;
width:auto;
}

